.devices-page {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 0px;
  border: 1px solid var(--main-border-color);
}

.devices-page .page-header {
  padding: 0px 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--main-border-color);
}

.devices-page .page-title {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-primary-text);
  margin-bottom: 8px;
}

.devices-page .page-subtitle {
  font-size: 20px;
  letter-spacing: 0px;
  color: var(--color-secondary-text);
}

.devices-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .devices-page .page-title {
    font-size: 28px;
  }
  .page-subtitle,
  .addon-name {
    font-size: 18px !important;
  }
  .devices-page {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .devices-page .page-header {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0;
    border-bottom: none;
  }
}
